input{
    height: 48px;
    width: 350px;
    border: 1px solid #8a92a3;
    color: #29303b;
    background-color: #fff;
    border-radius: 5px;
              
}
input::placeholder{
    font-size: 18px;
    color: #29303b;
    padding: 0 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}