.auth-btn{
    button{
        width: 350px;
        height: 48px;
        color: #fff;
        background-color: #ec5252;
        border: 1px solid transparent;
        border-radius: 5px;
        font-family: Arial, Helvetica, sans-serif;
        outline: none;
        font-size: 20px;
        text-transform: capitalize;
    }
}