
.block-content{
    width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-gap: 50px;
    .block-cont-sec ,.free-block-cont-sec, .d-block-cont-sec,.after-effect-block-cont-sec,.java-script-block-cont-sec,.motion-graphics,.motion-graphics-course,.after-effect-course {
        display: grid;
        grid-gap: 20px;
        h1{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24px;
            color: rgb(60, 59, 55)
        }
        span{
            color: #0f7c90;
        }
    }
   
}

#new{
    background-color: rgb(153, 219, 170);
    width: 50px;
    font-size: 12px;
    color: rgb(0, 59, 15);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
#none{
   background-color: transparent;
    border: none;
    // border-radius: 5px;
}
#hot{
    background-color: rgb(255, 153, 153);
    width:70px;
    font-size: 12px;
    color: rgb(82, 24, 24);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.motion-graphics{
    .motion-list{
        display: grid;
        grid-template-columns: 100px 250px ;
        grid-gap: 10px;
        border-bottom: 1px solid gray;
        height: 30px;
        text-align: center;
        a{
           
            color: #000;
            text-decoration: none;
            .mot-list-section{
        
                ul{
                    li{
                        list-style: none;
                        // float: left
                        font-weight: bold;
                        text-transform: capitalize;
                        font-family: Arial, Helvetica, sans-serif;
                        color: #73726c;
                        font-size: 15px;
                    
                    }
                
                }
                li:hover{
                    border-bottom:3px solid #000;
                    height:28px;
                  
                }
            }
       }
    }

}

.motion-graphics-course{
    .motion-graph-list{
        display: grid;
        grid-template-columns: 100px 100px 150px 125px 125px;
        grid-gap: 15px;
        border-bottom: 1px solid gray;
        height: 30px;
        text-align: center;
        a{
           
            color: #000;
            text-decoration: none;
            .mot-graph-list-section{
        
                ul{
                    li{
                        list-style: none;
                        // float: left
                        font-weight: bold;
                        text-transform: capitalize;
                        font-family: Arial, Helvetica, sans-serif;
                        color: #73726c;
                        font-size: 15px;
                    
                    }
                
                }
                li:hover{
                    border-bottom:3px solid #000;
                    height:28px;
                    // width: 200px;
                  
                }
            }
       }
    }

}
.after-effect-course{
    .after-effect-list{
        display: grid;
        grid-template-columns: 100px 100px 186px ;
        grid-gap: 15px;
        border-bottom: 1px solid gray;
        height: 30px;
        text-align: center;
        a{
           
            color: #000;
            text-decoration: none;
            .after-effect-list-section{
        
                ul{
                    li{
                        list-style: none;
                        // float: left
                        font-weight: bold;
                        text-transform: capitalize;
                        font-family: Arial, Helvetica, sans-serif;
                        color: #73726c;
                        font-size: 15px;
                    
                    }
                
                }
                li:hover{
                    border-bottom:3px solid #000;
                    height:28px;
                    // width: 200px;
                  
                }
            }
       }
    }

}

.tech-block{
  

    #tech-id{
        display: grid;
        grid-template-columns: 4fr 1fr;
        padding-top: 20px;
        // width: 100%;
        border-top: 1px solid lightgray;
        .t-block-sec{
            font-family: Arial, Helvetica, sans-serif;
            padding-left: 58px;
            h1{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
                line-height: 50px;
            }
        }
        #tec{
            width: 150px;
            height: 40px;
            background-color: #0f7c90;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 15px;
            font-weight: bold;
            align-self: center;
            justify-self: center;
        }
    }
    
}