.business-section{
    display: grid;
    grid-template-columns: 120px 90px 100px;
    grid-gap: 20px;
    align-items: center;
    li{
        text-transform: capitalize;
        list-style: none;
        height: 25px;
        .bus-sec-prt{
            display: none;
            .buss-sec-hov{
                position: relative;
                top: 36px;
                background-color: #fff;
                width: 280px;
                height: 170px;
                left: -130px;
                box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px 4px 12px 0px;
                font-family: Arial, Helvetica, sans-serif;
                h2{
                    text-align: center;
                    font-weight: bold;
                    color: #3c3b37;
                    font-size: 18px;
                }
                button{
                    width: 240px;
                    border: none;
                    border-radius: 5px;
                    margin: 10px 0;
                    height: 50px;
                    text-transform: capitalize;
                }
            }
            
        }
        #buss-id{
          #buss-hov-id{
            height: 230px;
            width: 300px;
            #course-id{
                display: grid;
                grid-template-columns: 100px 1fr;
                grid-gap: 5px;
                padding: 20px 0;
                border-bottom: 1px solid lightgray;
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 5px 5px 5px 5px;
                }
                h2{
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 15px;
                    text-align: left;
                }
            }
          }
        }
    }
    li:hover .bus-sec-prt{
        display: inline;
       
    }
        
   }
   .icon-pro-sec{
    display: grid;
    grid-template-columns: 35px 35px 35px;
    grid-gap: 10px; 
    align-items: center;
    color: #73726c;
        li{
            list-style: none;
            height: 25px;
            .icon-pro-blk{
                display: none;
                .ic-blk-1{
                    position: relative;
                    top: 36px;
                    background-color: #fff;
                    width: 250px;
                    height: 100px;
                    left: -130px;
                    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px 4px 12px 0px;
                    font-family: Arial, Helvetica, sans-serif;
                    padding: 10px;
                    font-size: 14px;
                    color: #0f7c90;
                    font-weight: bold;
                    h2{
                        font-size: 18px;
                        line-height:30px;
                    }

                }
                #icbl{
                    position: relative;
                    top: 36px;
                    background-color: #fff;
                    width: 280px;
                //  padding: 0;
                    height: 100px;
                    left: -200px;
                    #ic-not{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        h2{
                            color: #000;
                            font-weight: bold;  
                            padding: 0;
                        }
                        p{
                            padding: 5px;
                        }
                       
                    }
                    span{
                        color: #3c3b37;
                        padding: 20px;
                        font-size: 15px;
                        font-weight: normal;
                    }
                }
            }
        }
        li:hover .icon-pro-blk{
            display: inline;
        }
    }