

.poster-body{
    display: grid;
    grid-gap: 50px;
    // width: 1300px;
    margin:60px auto;

    .my-course-block {
        display: grid;
        grid-gap: 20px;
        // width: 1200px;
        margin: 0 auto;
        .my-course-block-head{
            display: flex;
            justify-content: space-between;
            font-family: Arial, Helvetica, sans-serif;
       h1{
        font-size: 35px;
       }
            p{
                font-weight: bold;
                color: #0f7c90;
            }
        }
        .my-course-block-content{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            grid-gap: 20px;
            height: 150px;
            // width: 1300px;
            margin: 0 auto;
            .mc-blk-body{
               border-radius: 5px;
            box-sizing: border-box;
               display: grid;
               grid-template-columns: 120px 300px;
            //    grid-gap: 20px;
               box-shadow: 0 2px 2px 1px rgba(41,48,59,.24),0 0 2px 0 rgba(41,48,59,.12);
               i{
                position: relative;
                top: 50px;
                left: 30px;
                width: 55px;
                height:52px;
                background-color: rgb(247, 242, 242);
                border-radius: 50%;
                text-align: center;
                padding-top: 16px;
                font-size: 20px;
            }  
            }
            #course1{
                background-color: #000;
                background-image: url(../images/img2.jpg );
                background-blend-mode: lighten;
                background-repeat: no-repeat;
              
            
               
            }
            #course2{
                background-image: url(  "https://img-a.udemycdn.com/course/240x135/2231800_f1d7_4.jpg");
                // background-repeat: no-repeat;
            }
            #course3{
                background-image: url("https://img-a.udemycdn.com/course/240x135/3017328_164a_2.jpg");
                background-repeat: no-repeat;
                background-size: 160px  150px;
            }
            .body-content-mycourse{
                background-color: #fff;
                
                border-top: 1px solid lightslategray;
                border-radius: 0px 5px;
                display: grid;
                grid-template-rows: 1fr 30px 10px;
                h1{
                    font-size: 15px;
                    padding: 20px 20px;
                    font-size: 15px;
                    font-family: Arial, Helvetica, sans-serif;
                    color: #3c3b37;
                }
                p{
                    font-size: 13px;
                    padding-left: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                }
                #time-length{
                    background-color: rgb(220, 218, 203);
                    
                    #lgh1{
                        background-color: #2896a9;;
                        width: 50px;
                        height: 10px;
                    }
                    #lgh2{
                        background-color: #2896a9;;
                        width: 15px;
                        height: 10px;
                    }
                    #lgh3{
                        background-color: #2896a9;;
                        width: 100px;
                        height: 10px;
                    }
                }
            }

            
        }
    }
    .box-sec{
        height: 100px;
        display: grid;
        grid-template-columns: 600px 1fr;
        width: 1300px;
        margin: 0 auto;
        align-items: center;
         border-radius: 5px;
        background-color: #2896a9;
        background: url("https://udemy-images.udemy.com/browse_components/shared-assets/purple-intersect.svg")  #003640;
        background-size: 100px 100px;
        h1{
            font-size: 15px;
            color: #fff;
            padding-left: 20px;
            font-weight: 600;
            font-family: Arial, Helvetica, sans-serif;
            span{
                font-size: 13px;
                font-weight: normal;
            }
        }
        .label-box-buttons{
         justify-self: end;
         display: grid;
           grid-template-columns: 1fr 125px;
           grid-gap: 20px;
           button{
           font-family: Arial, Helvetica, sans-serif;
           height: 50px;
           font-size: 15px;
            text-transform: capitalize;
            border-radius: 5px;
            color: #fff;
            outline: none;
           }
           #business-btn{
               border: none;
                width: 200px;
                background-color: #0f7c90;
                
                
           }
           #dismis{
               border: 1px solid lightslategray;
               width: 100px;
               background-color: transparent;
           }
        }
    }
   
}


.recommended{
    width:1300px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c3b37;
    display: grid;
    grid-gap: 50px;
    #recommend-head{
        h1{
            font-size: 35px;
            font-weight: bold;
           }
           h2{
               line-height: 75px;
           }
    }
}
.topic-recom-sec{
    display: grid;
    grid-gap: 20px;
        h1{
            font-size: 30px;
        }
    .topic-recom{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        text-align: center;
        text-transform: capitalize;
        // font-family: Arial, Helvetica, sans-serif;
    
        .recom-blk {
            ul {
                line-height: 0;
                li{
                    list-style: none;
                    border: 1px solid lightgrey;
                   height: 50px;
                   align-self: center;
                   padding-top:25px;
                   border-radius: 5px;
                   font-weight: bold;
                   color: #0f7c90;
                }
            }
        }
    }
}
