.main-page{
    .header-section{
        
            // background-color: red;
            height: 75px;
            display: grid;
            grid-template-columns: 100px 100px 680px 340px 270px ;
            align-items: center;
            text-align: center;
            grid-gap: 10px;
            text-transform: capitalize;
            // border-bottom:  1px solid green;
            box-shadow: 0px 3px rgb(233, 232, 232);
            img{
                width: 60px;
                padding-left:30px ;
            }
            h2{
                font-size: 15px;
                font-weight: normal;
                font-family: 'Segoe UI',Helvetica,Arial,sans-serif,;
                color: #73726c;
            }
            .header-search-home{
                input{
                    height: 50px;
                    border-radius: 50px;
                    border: 1px solid lightgray;
                    width: 650px;
                }
                input::placeholder {
                    // color: red;
                    font-size: 15px;
                    padding-left: 20px;
                    // text-transform: capitalize;
                    font-family: 'Segoe UI',Helvetica,Arial,sans-serif,
                }
                i{
                    position: relative;
                    left: -50px;
                    height: 20px;
                }
            }
            #head-sec-lft{
               display: grid;
               grid-template-columns: 110px 90px 100px;
               grid-gap: 20px;
            }
            .icon-prof{
                display: grid;
                grid-template-columns: 50px 50px 50px 50px;
                grid-gap: 10px; 
                align-items: center;
                color: #73726c;
                h1{
                    width: 40px;
                    height: 15px;
                    background-color: rgb(156, 70, 127);;
                    border-radius: 100%;
                    font-size: 16px;
                    padding: 12px 0;
                    font-family: Arial, Helvetica, sans-serif;
                    color: #fff;
                }
            }
        
           
            
        
    }
}
.product-list {
    border-top: 1px solid  rgb(220, 218, 203);
   height: 60px;
//    background-color: pink;
background-color: rgb(251, 251, 248);
box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px 4px 12px 0px;
    ul{
        width: 1000px;
        margin: 0 auto;
        
        li{
            float: left;
            list-style: none;
            padding: 20px;
           text-transform: capitalize;
           font-family: Arial, Helvetica, sans-serif;
           font-size: 14px;
           color: #3c3b37;
            cursor: pointer;
            a{
                text-decoration: none;
                color: #fff;
            }
           
        }
        li:hover{
            color: #0f7c90;

        }
    }
    #develop {
            
       
        .cate-list:after{
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            z-index: 1;
            top: -25px;
            left: 20%;
            // margin-left: 170px;
            transform: rotate(45deg);
            margin-top: 18px;
            background-color: #0a0a0a;
            
        }
      }
      #develop:hover .cate-list {
        display: inline;
       
        
    }
        #business {
        .cate-list {
            margin-left: -467px;       
          
          }
            .cate-list:after{
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                top: -25px;
                left: 28%;
                // margin-left: 170px;
                transform: rotate(45deg);
                margin-top: 18px;
                background-color: #0a0a0a;
            }
          }
          #business:hover .cate-list {
            display: inline;
          
        }    
    
    #It {
        .cate-list {
            margin-left: -592px;       
          
        }
        .cate-list:after{
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                top: -25px;
                left: 35%;
                // margin-left: 170px;
                transform: rotate(45deg);
                margin-top: 18px;
                background-color: #0a0a0a;
        }
    }
    #It:hover .cate-list {
    display: inline;
    }    
    #person-develop {
        .cate-list {
            margin-left: -773.5px;       
        }
        .cate-list:after{
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                top: -25px;
                left: 44%;
                // margin-left: 170px;
                transform: rotate(45deg);
                margin-top: 18px;
                background-color: #0a0a0a;
        }
    }
    #person-develop:hover .cate-list {
    display: inline;
    }  
    #design {
        .cate-list {
            margin-left: -857px;       
        }
        .cate-list:after{
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                top: -25px;
                left: 54.5%;
                // margin-left: 170px;
                transform: rotate(45deg);
                margin-top: 18px;
                background-color: #0a0a0a;
        }
    }
    #design:hover .cate-list {
    display: inline;
    } 
    #marketing {
        .cate-list {
            margin-left: -958.5px;       
        }
        .cate-list:after{
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                top: -25px;
                left: 60%;
                // margin-left: 170px;
                transform: rotate(45deg);
                margin-top: 18px;
                background-color: #0a0a0a;
        }
    }
    #marketing:hover .cate-list {
    display: inline;
    } 
    #health {
        .cate-list {
            margin-left: -1101px;       
        }
        .cate-list:after{
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                top: -25px;
                left: 68%;
                // margin-left: 170px;
                transform: rotate(45deg);
                margin-top: 18px;
                background-color: #0a0a0a;
        }
    }
    #health:hover .cate-list {
    display: inline;
    } 
    #music {
        .cate-list {
            margin-left: -1178px;       
        }
        .cate-list:after{
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                top: -25px;
                left: 75%;
                // margin-left: 170px;
                transform: rotate(45deg);
                margin-top: 18px;
                background-color: #0a0a0a;
        }
    }
    #music:hover .cate-list {
    display: inline;
    } 
}


.cate-list {
    position: absolute;
   
    display: none;
    height: 60px;
  width:100% ;
  margin: 40px -370.2px;

    background-color: #0a0a0a;
     #list-con{
            width:1000px;
            margin: 0 auto;
     }
  }