.main-page{
    .header-section{
        
            // background-color: red;
            height: 75px;
            display: grid;
            grid-template-columns: 100px 100px 680px 340px 300px ;
            align-items: center;
            text-align: center;
            grid-gap: 10px;
            text-transform: capitalize;
            // border-bottom:  1px solid green;
            box-shadow: 0px 3px rgb(233, 232, 232);
            img{
                width: 60px;
                padding-left:30px ;
            }
            h2{
                font-size: 15px;
                font-weight: normal;
                font-family: 'Segoe UI',Helvetica,Arial,sans-serif,;
                color: #73726c;
            }
            .header-search-home{
                input{
                    height: 50px;
                    border-radius: 50px;
                    border: 1px solid lightgray;
                    width: 650px;
                }
                input::placeholder {
                    // color: red;
                    font-size: 15px;
                    padding-left: 20px;
                    // text-transform: capitalize;
                    font-family: 'Segoe UI',Helvetica,Arial,sans-serif,
                }
                i{
                    position: relative;
                    left: -50px;
                    height: 20px;
                }
            }
            #head-sec-lft{
               display: grid;
               grid-template-columns: 110px 90px 100px;
               grid-gap: 20px;
            }
            .icon-prof{
                display: grid;
                grid-template-columns: 50px 50px 50px 50px;
                grid-gap: 10px; 
                align-items: center;
                color: #73726c;
                h1{
                    width: 40px;
                    height: 18px;
                    background-color: rgb(156, 70, 127);;
                    border-radius: 100%;
                    font-size: 16px;
                    padding: 12px 0;
                    font-family: Arial, Helvetica, sans-serif;
                    color: #fff;
                }
            }
        
           
            
        
    }
}