.user-log{
    display: grid;
    grid-gap: 50px;
    grid-template-rows: 100px 675px 303px;
    height: 1200px;
    .log-block-sec{
        height: 700px;
        display: grid;
        .log-section-box{
            display: grid;
            grid-template-rows: 60px 165px 175px 27px 30px;
            grid-gap: 15px;
            width: 400px;
            margin: 0 auto;
            text-align: center;
            height: 560px;
           
            #log-title{
               
                height: 40px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;
                text-align: left;
                padding-left: 20px;
                border-bottom: solid 1px #dedfe0;
                color: #29303b;

            }
            p{
                font-size:16px;
                // line-height: 50px;
                span{
                    color:#007791 ;
                    text-transform: capitalize;
                }
            }
            h2{
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: normal;
                a{
                    text-decoration: none;
                    span{
                        color:#007791 ;
                        text-transform: capitalize;
                       font-weight: bold;
                    }
                }
                
            }
        }
    }
    
}
.sync-btn-sec{
    height: 200px;
    .syn-btn-sec-1{
       
        button{
            width: 350px;
        
       outline: none;
            text-align: left;
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
            
            word-spacing: 2px;
            border-radius: 2px;
            font-size: 16px;
            font-weight: 700;
            height: 48px;
            margin-bottom: 8px;
            // padding: 0;
            box-shadow: 0 2px 2px 0 rgba(41,48,59,.24),0 0 2px 0 rgba(41,48,59,.12);
            color: #29303b;
            background-color: #fff;
            border: 1px solid #dedfe0;

            i{
                padding: 0 20px;
                font-weight: normal;
                font-size: 20px;
            }
        }
        #facebook{
            box-shadow: 0 2px 2px 0 rgba(41,48,59,.24),0 0 2px 0 rgba(41,48,59,.12);
            color: #fff;
            border-radius: 2px;
            word-spacing: 2px;
            font-size: 16px;
            font-weight: 700;
            height: 48px;
            margin-bottom: 8px;
            border-radius: 5px;
            // padding: 0;
            background-color: #1a538a;
        }
    }
}
.log-in-form{
   
 
    form{
        display:grid;
        grid-template-rows: 50px  50px 50px;
        grid-gap: 10px;
        justify-content: space-evenly;
        
    }
   
}
.brand-box-block{
    border: 1px solid lightgray;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-gap: 15px;
    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #3c3b37;
        span{
            color:#007791 ;
            text-transform: capitalize;
           font-weight: bold;
        }
    }
    .brand-name{
        img{
            padding: 10px;
        }
    }
}