
.slick-initialized{
    display: grid;
    grid-template-columns: 50px 1000px 50px;
    align-items: center;
}


.slides-block{
    width: 1300px;
    overflow: hidden;
    margin: 0 auto;
    height: 400px;
    #categories-block-1{
        display: grid;
        grid-template-rows: 151px 70px 38px 26px 25px;
        grid-gap: 10px;
        width: 250px;
        background-color: #fff;
        height: 350px;
        // border: 1px solid lightgrey;
        border-radius: 10px 10px 10px 10px;
        img{
            width: 248px;
            height: 151px;
            border: 1px solid lightgrey;
            border-radius: 10px 10px 10px 10px;
        }
        .bus-con-1 {
          line-height: 0;
            h1{
                font-size: 15px;
               font-family: Arial, Helvetica, sans-serif;
             
            }
            p{
                color: rgb(145, 142, 142);
                line-height:18px;
                font-weight: normal;
                text-transform: capitalize;
                padding: 5px 0;
            }
        }
        .bus-ratings{
            #rating-box{
                display: grid;
                grid-template-columns: 20px 74px 37px ;
                align-items: center;
                grid-gap: 10px;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                h1{
                    // width: 300px;
                    font-size: 15px;
                    color: rgb(228, 178, 85);;
                    font-weight: bold;
                    padding-top: 11px;
                   
                }
               
                .checked{
                    color: rgb(228, 178, 85);
                 
                }
                span{
                    font-size: 13px;
                    // border: 1px solid;
                    color: #000;
                }
                p{
                    font-size: 13px;
                    color: rgb(172, 163, 163);
                    font-weight: normal;
                    font-family: Arial, Helvetica, sans-serif;
                    padding-top: 20px;
                }
            }
            
            
        }
        #price{
           line-height: normal;
            display: grid;
            grid-template-columns: 50px 55px;
            h2{
                // color: red;
                float: left;
               font-size: 15px;
               font-family: Arial, Helvetica, sans-serif;
               font-weight: bold;
            }
            p{
                i{
                    font-size: 14px;
                    // font-weight: normal;
                }
                font-size: 15px;
                color: rgb(143, 145, 143);
                text-decoration: line-through;
            }
        }
        #bs{
            width: 75px;
            font-size: 12px;
            // border: 1px solid grey;
            background-color: #ffe799;
            color: #593d00;
            font-weight: bold;
            border: none;
            border-radius: 5px;
        }
        #hr{
            width: 100px;
            font-size: 12px;
            // border: 1px solid grey;
            background-color:rgba(255, 160, 122, 0.788);
            color: brown;
            font-weight: bold;
            border: none;
            border-radius: 5px;
        }
       
    }
}

.slick-arrow.slick-prev{}